.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 1.2em;
    margin-bottom: 2em;

    background-color: #8ab3cf;
    color: white;

    border-bottom: 2px solid #4180ab;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    margin-left: 1em;
    color: #4180ab;
}

.logo h1 span {
    color: black;
}

.link_items {
    display: flex;
    list-style: none;
}
.link_items li {
    margin-right: 1.3em;
}

.link_items_link {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: 0.4s;
    border-bottom: 2px solid transparent;
}
.link_items_link:hover {
    border-color: white;
}
